body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    color: #222;
}

header {
    text-align: center;
    padding: 20px 10px;
    background: #283593; 
    color: white;
}

header h1 {
    font-size: 45px;
    margin: 0;
    font-weight: bold;
}

header h2 {
    font-size: 24px;
    margin-top: 8px;
    font-weight: lighter;
}
img {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

nav-container {
    width: 100%;
}

nav {
    white-space: nowrap;
    overflow-x: auto;
    display: block;
    padding: 15px;
    background: #ffffff;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

nav a {
    text-decoration: none;
    color: #283593;
    font-weight: bold;
    margin: 0 10px;
}

nav a:hover {
    color: #1a237e;
    text-decoration: underline;
}

section {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    line-height: 1.7;
}

section h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
    color: #1a237e;
}

section p {
    font-size: 17px;
    text-align: justify;
    margin-bottom: 20px;
}

section strong {
    color: #000;
}
